
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env

#Allure reports
allure-results/
allure-report/

# Screenshots/videos/traces
screenshots/
videos/
traces/

# Snapshots
*-snapshots/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db
